<main>

    <h2>Edit Nightlife</h2>

    <a class="d-inline-block mt-2 mb-4" href="/Night">Return To Nightlife Page</a>
    <div id="edit-form" class="Night-container-show">

        <form action="/Night/{{Night._id}}?_method=PUT" method="POST">
        
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" type="text" name="name" id='name' value="{{Night.name}}">
        </div>

        <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" name="description" id='description' value="{{Night.description}}">
        </div>
        
        <div class="form-group">
            <label>Location</label>
            <input class="form-control" type="text" name="location" id='location' value="{{Night.location}}">
        </div>

        <div class="form-group">
            <label>Image</label>
            <input class="form-control" type="text" name="img" id='img' value="{{Night.img}}">
        </div>   

        <input class="btn btn-sucess" type="submit" value="Update Nightlife">
        
        </form>
    </div>

</main>