<main class="show-individual-page">

	<a href="/night/new" class="add-more">Add More</a>

	<a href="/night" class="return-button">Return to Previous Page</a>

<section class="individual-details">
	<h2> {{nights.name}} </h2>

	<div class="indiv-container">
		<img width="300px" height="300px" src= {{nights.img}} >
		<br>
		<h3>Description:</h3>
		<p>
			{{nights.description}}
		</p><br>
		<h2>Location:</h2>
		<p>
			{{nights.location}}
		</p><br>
	</div>
</section>
<section class="bottom-btn">
		<form  action="{{ night.id }}?_method=DELETE" method="POST">
			<input class="btn btn-sucess" type="submit" value="Delete"/>
		</form>
		<a  href="{{nights.id}}/edit">
		<input class="btn btn-sucess" type="submit" value="Update"/>
	</a>
	</section>
</main>