<main class="edit-form-page">

<a class="d-inline-block mt-2 mb-4" href="/rest">Return To Previous Page</a>
    

     <section class="edit-form">
    <h2>Edit {{rests.name}} </h2>

    
    <div id="edit-form" class="rest-container-show">

        <form action="/rest/{{rests._id}}?_method=PUT" method="POST">
        
            Name: <input type="text" name="name" value="{{rests.name}}" /><br />

            Description: <input type="text" name="description" value="{{rests.description}}" /><br />

            Image: <input type="text" name="img" value="{{rests.location}}" /><br />
            
            Location: <input type="text" name="location" value="{{rests.img}}" /><br />

            <input class="btn btn-sucess" type="submit" value="Update" />
        </form>
    </div>
    </section>

</main>