<main class="show-individual-page">

	<a href="/rest/new" class="add-more">Add More</a>

	<a href="/rest" class="return-button">Return to Previous Page</a>

<section class="individual-details">
	<h2> {{rests.name}} </h2>

	<div class="indiv-container">
		<img src= {{rests.img}} >
		<br>
		<h3>Description:</h3>
		<p>
			{{rests.description}}
		</p><br>
		<h2>Location:</h2>
		<p>
			{{rests.location}}
		</p><br>
	</div>
	</section>
<section class="bottom-btn">
		<form action="Rest/{{ rests.id }}?_method=DELETE" method="POST">
			<input class="btn btn-sucess" type="submit" value="Delete"/>
		</form>

		<a href="/Rest/{{rests.id}}/edit">
		<input class="btn btn-sucess" type="submit" value="Update"/>
	</a>
	</section>
</main>