<main class="show-individual-page">

	<a href="/health/new" class="add-more">Add More</a>

	<a href="/health" class="return-button">Return to Previous Page</a>

<section class="individual-details">
	<h2> {{healths.name}} </h2>

	<div class="indiv-container">
		<img src= {{healths.img}} >
		<br>
		<h3>Description:</h3>
		<p>
			{{healths.description}}
		</p><br>
		<h2>Location:</h2>
		<p>
			{{healths.location}}
		</p><br>
	</div>

	</section>
<section class="bottom-btn">
	<form action="Health/{{ healths.id }}?_method=DELETE" method="POST">
		<input class="btn btn-sucess" type="submit" value="Delete" />
	</form>

	<a href="/Health/{{healths.id}}/edit">
		<input class="btn btn-sucess" type="submit" value="Update"/>
	</a>
</section>
</main>